/* Add your CSS styles here to customize the appearance */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url("https://plus.unsplash.com/premium_photo-1661371884099-5d50b680d369?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bW9uZXl8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

h1 {
    margin: 0;
    background-color: red;
    color: white;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

#summary {
    text-align: center;
   
}

#summary h2{
    color: blue;
}

#summary p {
    margin: 10px 0;
    color: red;
}

#total-income, #total-expenses, #balance {
    font-weight: bold;
}

